<section class="container" *ngIf="userData">
    <div class="row mt-5">
        <div class="col">
            <h1>Welcome {{userData.user.username}}!</h1>
        </div>
    </div>
    <div class="row mt-5 g-4">
        <div class="col-md-4">
            <div class="wrapper d-flex justify-content-center flex-column align-items-center">
                <div class="img-wrapper">
                    <img src="assets/img/ani-profile/penguin.png" class="round-circle" alt="User profile image">
                </div>
                <div class="d-flex mt-2  justify-content-center">
                    <button class="btn btn-info btn-sm text-center text-white fw-semibold" routerLink="edit" [state]="{user:userData.user}">Edit profile</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="d-flex gap-4">
                <div class="d-flex gap-1">
                    <p class="fs-5 fw-semibold">First Name: </p>
                    <p class="fs-5">{{userData.user.firstName}}</p>
                </div>
                <div class="d-flex gap-1">
                    <p class="fs-5 fw-semibold">Last Name: </p>
                    <p class="fs-5">{{userData.user.lastName}}</p>
                </div>
            </div>
            
            <div class="d-flex gap-1">
                <p class="fs-5 fw-semibold">Email Address: </p>
                <p class="fs-5">{{userData.user.email}}</p>
            </div>
            <div class="d-flex gap-1">
                <p class="fs-5 fw-semibold">Points: </p>
                <p class="fs-5">{{userData.user.points || 0}}</p>
            </div>

            <div class="d-flex gap-1">
                <p class="fs-5 fw-semibold">Current Rank: </p>
                <p class="fs-5">4th</p>
            </div>
            <div class="d-flex  gap-3">
                <button class="circle-btn">
                    <span>Check Leaderboard</span>
                </button>
                <button class="circle-btn" data-bs-toggle="modal" data-bs-target="#joinServerModal">
                    <span>Join Room</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row my-4"></div>
    <div class="row mt-5">
        <div class="col">
            <h2>MY ROOMS</h2>
            <div class="row g-4">
                <ng-container *ngFor="let room of rooms">
                    <div class="room-wrapper col-md-4">
                        <div type="button" id="room-{{room.room_id}}" data-bs-toggle="dropdown" aria-expanded="false" class="room-info-card card p-3 py-2" [ngClass]="{'border-warning': room.room_status == 'InProgress', 'border-success': room.room_status == 'Online', 'border-danger': room.room_status == 'Offline'}">
                            <div class="d-flex gap-1"> 
                                <p class="fs-6 fw-semibold">Room Name: </p>
                                <p class="fs-6">{{room.room_name}}</p>
                            </div>
                            <div class="d-flex gap-1"> 
                                <p class="fs-6 fw-semibold">Room Status: </p>
                                <p class="fs-6">{{room.room_status}}</p>
                            </div>
                            <div class="d-flex gap-1"> 
                                <p class="fs-6 fw-semibold">Player Limit: </p>
                                <p class="fs-6">{{room.player_limit}}</p>
                            </div>
                        </div>
                        <ul class="dropdown-menu" attr.aria-labelledby="room-{{room.room_id}}">
                            <li><a class="dropdown-item cursor-pointer" routerLink="/game/lobby/{{room.room_id}}">Open Lobby</a></li>
                            <li><a class="dropdown-item cursor-pointer" routerLink="/">Edit Room</a></li>
                            <li><a class="dropdown-item cursor-pointer" href="#">Share Room</a></li>
                            <li><a class="dropdown-item text-danger cursor-pointer" (click)="deleteRoom(room.room_id)">Delete</a></li>
                          </ul>
                    </div>

                </ng-container>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div class="create-room" title="create room" routerLink="/game/create-room">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        <p class="fs-6 text-muted m-0">Add Room</p>

    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="joinServerModal" aria-hidden="true" aria-labelledby="roomModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="usernameModalToggleLabel">Join Room</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="room-ID" class="col-form-label">Room ID:</label>
                  <input type="text" class="form-control" id="room-ID">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Join Room</button>
        </div>
      </div>
    </div>
</div>