.img-wrapper{
    height: 250px;
    width:250px;
    padding:10px;
    border: 2px solid black;
    border-radius: 50%;

    img{
        height:100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;


    }
}

.create-form{
    gap: 1rem;

    label{
        font-size: 1rem;
        font-weight: 500;
        display:flex;
        gap: 10px;
    }
    input{
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.425);
        outline: none;
        padding: 0px 10px;

    }


}