<section class="container min-h-100">
    <div class="row">
        <div class="col">
            <div class="d-flex gap-4">
                <div class="d-flex round-info gap-5">
                    <p><span class="fw-semibold">Player:</span> Johnny76</p>
                    <p><span class="fw-semibold">Dictator:</span> Kendrick</p>
                    <p><span class="fw-semibold">Server Count:</span> 11/16</p>
                    <p><span class="fw-semibold">Score:</span> 750</p>
                    <p><span class="fw-semibold">Server Name:</span> Good Kid Mad City</p>
                </div>
                <div class="cta">
                    <button class="circle-btn"><span>Exit Server</span></button>

                </div>
            </div>
        </div>
    </div>
    <div class="row timer-countdown justify-content-end mt-3">
        <div class="col-md-3" *ngIf="(gameTimerService.countdown$ | async) as countdown">
            <p class="h2 fw-medium text-end" [ngClass]="{'blink-text': parseStringCountdownToNum(countdown) <= 10 }">{{countdown}}</p>
        </div>
    </div>
   
    <div class="row">
        <div class="col">
            <div class="d-flex letter gap-5 justify-content-center flex-column">
                <h1 class="fw-bold display-1 text-center">{{roomService.roundLetter}}</h1>
                <app-game-fields [game-fields]="['name', 'place', 'thing', 'food', 'celebrity']"></app-game-fields>
            </div>
        </div>
    </div>

</section>
