<section class="container" *ngIf="(roomService.room_data$ | async) as roomData">
    <div class="row mt-5">
        <div class="col">
            <h1> Voting Time</h1>

        </div>
    </div>
    <div class="row timer-countdown justify-content-end mt-3">
        <div class="col-md-3" *ngIf="(gameTimerService.countdown$ | async) as countdown">
            <p class="h2 fw-medium text-end" [ngClass]="{'blink-text': gameTimerService.parseStringCountdownToNum(countdown) <= 10 }">{{countdown}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="display-1 fw-bold text-center">{{roomService.roundLetter}}</h2>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col">
            <h3 class="mb-4">Current Field: {{roomData.gameFields[field_index]}}</h3>

            <div class="voting-pannel d-flex gap-3">
                <div class="card flex-grow-1 cursor-pointer " [ngClass]="{'isCorrect': user_response.response[roomData.gameFields[field_index]].isCorrect}" *ngFor="let user_response of roomService.responses" (click)="toggleResponse(user_response.player, roomData.gameFields[field_index])">
                    <div class="card-header">
                        <p class="text-center m-0 fw-bold">{{user_response.player}}</p>
                    </div>
                    <div class="user-response card-body card-outline border-primary  p-2" >
                        <div class="data d-flex flex-column gap-1 flex-grow-1">
                            <p class="text-center m-0">{{user_response.response[roomData.gameFields[field_index]].value ?? '-'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="d-flex justify-content-center">
                <button class="circle-btn" (click)="gotoNextField(roomData.gameFields.length-1)"><span>{{field_index < roomData.gameFields.length-1 ? 'Next Field' : 'Submit Votes'}}</span></button>
            </div>
        </div>
    </div>
    <div class="row" style="height:30vh"></div>
    <div class="row">
        <div class="col">
            <p class="mt-5">*Toggle a response as checked by clicking on the user card. <i>There is no turning back.</i></p>
        </div>
    </div>
</section>