<div class="card">
    <div class="card-header text-center fs-4 fw-semi-bold">
      Leave the server?
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">Any scores obtained will be lost.</p>
      <div class="options d-flex justify-content-between">
          <button class="btn btn-sm btn-info" (click)="closeModal(false)">Close</button>
          <button class="btn btn-sm" (click)="closeModal(true)">Continue</button>
      </div>
    </div>
  </div>
